name: BLOG DEPLOY

language: node_js

on:
  push:
    branches:
      - main

node_js:
  - lts/*

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v2

    - name: Run Shell Script
      run: |
        chmod +x deploy.sh
        ./deploy.sh