name: My Workflow

on:
  push:
    branches:
      - main
      
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Run deploy
      run: |
        bash deploy.sh
      
      env: 
      ACCESS_TOKEN: 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