name: My Workflow

on:
  push:
    branches:
      - main
      
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Run deploy
      run: |
        bash deploy.sh

  deploy:
    provider: pages
    skip_cleanup: true
    # 在 GitHub 上生成的 token，允许 Travis 推送代码到你的仓库。
    # 在仓库的 Travis 设置页面，设为安全的环境变量
    github_token: $ACCESS_TOKEN
    keep_history: true