.light {
    padding: 2px 60px;
    color: #EEE;
    font-size: 24px;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 10px;
    cursor: pointer;
    background: linear-gradient(#2f2f2f, #151515);
    border-color: #151515;
    border-radius: 30px;
  }