.book-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .book {
    width: 400px;
    height: 600px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    cursor: pointer;
  }

  .book:hover{
    transform: scale(1.2)
  }
  
  .book.flipped {
    transform: scale(1) rotateY(180deg);
  }

  .book.flipped:hover{
    transform: scale(1.2)  rotateY(180deg);
  }
  
  .front-cover,
  .back-cover,
  .page {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .front-cover {
    transform: translateZ(25px);
    background-color: #ffcc00;
  }
  
  .back-cover {
    transform: translateZ(-25px) rotateY(180deg);
    background-color: #336699;
  }
  
  .page {
    transform: translateZ(0);
    background-color: white;
    z-index: 1;
  }
  
  .page:nth-child(odd) {
    background-color: #f8f8f8;
  }
  
  h1 {
    font-size: 24px;
    color: white;
  }
  
  .flipped .front-cover,
  .flipped .back-cover,
  .flipped .page {
    pointer-events: none;
    cursor: default;
  }

 