name: My Workflow

on:
  push:
    branches:
      - main
      
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2
      with:
      node-version: '16.x'

    - name: Run deploy
      run: |
        bash deploy.sh
